BDAutoMuxer/controllers/ChaptersSchema.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Chapters">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EditionEntry">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="ChapterAtom">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ChapterTimeStart" type="xs:time" />
                                        <xs:element name="ChapterDisplay">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ChapterString" type="xs:string" />
                                                    <xs:element name="ChapterLanguage" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>